/* banner */
.banner img {
  display: block;
  width: 100%;
}
/* 主体 */
.main .inner-1200 .container {
  overflow: hidden;
}
.main .inner-1200 .container .sidebar {
  float: right;
  width: 340px;
}
.main .inner-1200 .container .sidebar .sidebox {
  padding: 15px 10px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.main .inner-1200 .container .sidebar .sidebox h2 {
  padding: 10px 15px;
  background-color: #f5f5f5;
}
.main .inner-1200 .container .sidebar .sidebox .tag ul {
  overflow: hidden;
}
.main .inner-1200 .container .sidebar .sidebox .tag ul li {
  float: left;
  width: 50%;
  margin-top: 15px;
  text-align: left;
}
.main .inner-1200 .container .sidebar .sidebox .pic {
  overflow: hidden;
}
.main .inner-1200 .container .sidebar .sidebox .pic li {
  float: left;
  width: 50%;
}
.main .inner-1200 .container .sidebar .sidebox .pic li img {
  width: 150px;
  height: 120px;
  border-radius: 5px;
}
.main .inner-1200 .container .sidebar .sidebox .pic li p {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}
.main .inner-1200 .container .sidebar .sidebox .tools {
  overflow: hidden;
}
.main .inner-1200 .container .sidebar .sidebox .tools li {
  float: left;
  width: 50%;
  margin-top: 15px;
  text-align: left;
}
.main .inner-1200 .container .list {
  float: left;
  width: 850px;
  padding: 15px 0;
}
.main .inner-1200 .container .list img {
  display: block;
  width: 100%;
  margin: 20px 0;
  border-radius: 15px;
}
.main .inner-1200 .container .list h3 {
  font-size: 20px;
  margin: 20px 0;
}
.main .inner-1200 .container .list p {
  line-height: 1.65;
  margin: 10px 0;
}
