body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

header, main, footer {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
}

td {
	padding: 10px;
	border: 1px solid #333;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	font-weight: bold;
}

input[type="date"], select, input[type="number"] {
	margin-bottom: 20px;
	padding: 10px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

footer {
	background-color: #ccc;
	padding: 20px;
	text-align: center;
} 

p {
	font-size: 16px;
	line-height: 1.5;
} 

ul {
	font-size: 16px;
	line-height: 1.5;
	margin-left: 20px;
}